<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>Welcome to your TODO app</h1>

    

    <form action="/shows">
        <button>Click here to show your Goals</button>
    </form>
</body>
</html>