<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW</title>
</head>
<body>
    <h1>Adding another Goal</h1>

    <form action="/shows" method="post">
        <label for="purpose">Goals: </label>
        <input type="text" name="purpose" id="purpose" placeholder="New Goal"> <br> <br>
        <label for="Date">Date: </label>
        <input type="number"name="day" id="Date" placeholder="Enter day">
        <input type="number"name="month" id="Date" placeholder="Enter month">
        <input type="number"name="year" id="Date" placeholder="Enter year"> <br> <br>

      <label for="status">status : </label>  <select name="status" id="status">
        <% status.forEach(el => { %>
            <option value="<%=el %>"><%= el %></option>
        <% }) %>    
        
        </select>
        <br><br>
        <button>submit</button>
    </form>
    
</body>
</html>